.state-button {
  background-color: transparent;
  border: 2px solid #000;
  cursor: pointer;
  font-size: 22px;
  margin: 10px;
  padding: 20px;
  text-transform: uppercase;

  &:hover {
    border-style: dashed;
  }
}
