.container {
  display: flex;
  margin-left: 33%;
}

.button {
  background-image: linear-gradient(to right, #006175 0%, #00a950 100%);
  border-radius: 40px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 50px;
  font-size: 1.4em;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  transition: background 0.5s ease;
  margin-left: 20px;
  margin-bottom: 20px;
}

.button:hover {
  color: #a80000;
}

.button .span {
  align-items: center;
  background: #0e0e10;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.button:hover .span {
  background: transparent;
}

.button-hide {
  background-image: linear-gradient(to right, #1d110c 0%, #a90000 100%);
}

.button-hide:hover {
  color: #00a84f;
}

.random {
  background-image: linear-gradient(135deg, #008aff, #86d472);
  border-radius: 6px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  height: 50px;
  font-size: 1em;
  font-weight: 600;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 7em;
  z-index: 2;
  margin-left: 20px;
}

.random:hover {
  color: #fff;
}

.random .random-span {
  align-items: center;
  background: #0e0e10;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  height: 100%;
  transition: background 0.5s ease;
  width: 100%;
}

.random:hover .random-span {
  background: transparent;
}
