.App {
  &__clock {
    color: #005;
    text-align: center;
  }

  &__clock > h1 {
    font-size: 38px;
    text-transform: uppercase;
  }

  &__clock > p {
    visibility: visible;
    font-size: 24px;
  }
}
