.currentTime {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  border: 1px solid lightblue;
  background-color: lightblue;
  border-radius: 20px;
  color: blueviolet;
  font-size: 50px;
  width: 325px;
}
