$size: 320px;

.Clock {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 24px;
  width: $size;
  height: $size;

  box-sizing: border-box;

  text-align: center;
  color: #3f3f3f;

  border-radius: 50px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe
    -20px -20px 60px #fff;

  &__name {
    font-size: 14px;
    color: #919191;
    font-weight: bold;
    text-transform: uppercase;

    transform: translateY(-20px);
  }

  &__label {
    font-size: 14px;
    text-transform: uppercase;
  }

  &__time {
    margin-top: 24px;

    font-size: 42px;
    font-weight: 700;
  }
}
