.clock-container {
  border: 5px solid aqua;
  border-radius: 20%;
  background-color: rgb(243, 202, 202);
}

.title {
  text-align: center;
  color: rgb(33, 65, 65);
  font-size: 75px;
}

.text {
  text-align: center;
  font-size: 75px;
}
