html {
  font-size: 24px;

  color: aquamarine;
  background-color: black;
}

.button {
  margin-right: 20px;

  font-size: 24px;

  background-color: aquamarine;
  border: 2px solid transparent;
  cursor: pointer;
}


