$bodyBgColor: #eee;

$basicShadow: 6px -6px 8px 0 rgba(34, 60, 80, 0.2);

//buttons

$showButtonBgColor: gold;
$hideButtonBgColor: red;
$setButtonBgColor: yellowgreen;

//clock 

$clockBorder: 2px solid #666;