.clock {
  padding-bottom: 20px;
  text-align: center;
  font-size: 2rem;
}

.clock-info {
  color: rgb(106, 163, 137);
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;
}

.clock-time {
  display: block;
  color: rgb(106, 163, 137);
}
