@font-face {
  font-family: Digital;
  src: url("../../fonts/Digital.ttf");
}

.Clock {
  padding: 10px 30px;
  width: 32rem;
  border-radius: 10px;
  background-color: #081906;

  &__time {
    color: greenyellow;
    text-shadow: 2px 7px 5px rgba(29, 49, 26, 0.3),
          0px -4px 10px rgba(98, 255, 0, 0.51);
    font-family: Digital, Arial, sans-serif;
    font-size: 8rem;
  }
}
