.app {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 250px;
  width: 400px;
  margin: 0 auto;
  background-color: #c788d6;
  border-radius: 50px;

  &__buttons {
    margin-top: 20px;
  }

  &__button {
    margin: 0;
    cursor: pointer;
    transition: transform 0.3s;

    color: #000;
    border-color: #2fdbee;
    background-color: #2fdbee;

    font-weight: 700;
    font-size: 16px;

    &:hover {
      color: #fff;
      border-color: #d24419;
      background-color: #d24419;
    }

    &:active {
      border-color: #005ecc;
      background-color: #005ecc;
      box-shadow: 0 8px 14px #0053b37a;
    }
  }

  &__title {
    margin-top: 50px;
  }
}
