html {
  background-color: #f6f6f6;
}

body {
  position: relative;
  min-width: 65vh;
  height: 100vh;
  margin: 0;
  background-image: url(./Img/0.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.watch {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34.6vh;
  height: 34.6vh;
  transform: translate(-50%, -50%);

  &__display {
    background-color: #000;
  }

  &__button-style {
    position: absolute;
    top: 42%;
    left: 115%;
    width: 9%;
    height: 17%;
    border: none;
    opacity: 0;
  }
}

.display {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: none;
  background-size: contain;
  padding: 0;

  &__time {
    position: absolute;
  }

  &__off {
    color: #555;
    font-size: 8vh;
  }
}

.time {
  &__colon {
    &--hidden {
      opacity: 0;
    }
  }

  &__seconds {
    font-size: 50%;
  }
}
