.App {
  text-align: center;
}

button {
  font-size: 20px;
  cursor: pointer;
  background-color: #000;
  color: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 20px;
  margin-right: 20px;

  &:disabled {
    background-color: #ccc;
    border: none;
    cursor: not-allowed;
  }
}

.clock {
  width: 300px;
  text-align: center;
  margin: 0 auto;
  border-radius: 30px;
  margin-bottom: 40px;
  background-color: #000;
  border: 1px solid #000;


  &__time {
    font-size: 40px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #e40c30,
    0 0 82px #e40c30,
    0 0 92px #e40c30,
    0 0 102px #e40c30,
    0 0 151px #e40c30;
  }
}
