.container {
  max-width: 370px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #efefef;
  border-radius: 7px;
  font-family: Tahoma, Verdana, sans-serif;
}

.btn-container {
  display: flex;
  gap: 5px;
}

.destroyed {
  color: indianred;
}
