h1,
h2 {
  margin: 0;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
  background-color: #14213d;
}

.App {

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
  }

  &__buttons {
    display: flex;
    column-gap: 24px;
  }

  &__button {
    --button-primary-color: #fca311;

    position: relative;
    padding: 16px;
    border-radius: 12px;
    cursor: pointer;
    color: var(--button-primary-color);
    font-weight: bold;
    font-size: 16px;
    box-shadow:
      inset 0 0 8px var(--button-primary-color),
      0 0 8px var(--button-primary-color);
    border: 2px solid var(--button-primary-color);
    background-color: transparent;
    transition: box-shadow 0.3s;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      left: 0;
      top: 150%;
      background-color: var(--button-primary-color);
      transform: perspective(25px) rotateX(30deg) scale(1, 0.3);
      box-shadow: 0 0 30px 20px var(--button-primary-color);
      opacity: 0.1;
      pointer-events: none;
      transition: opacity 0.3s;
    }

    &:hover,
    &:focus {
      color: #14213d;
      background-color: #fca311;
      box-shadow: 0 0 20px var(--button-primary-color);

      &::after {
        opacity: 0.7;
      }
    }
  }
}
