.clock {
  &__inner {
    display: flex;
    flex-direction: column;
    font-size: 20px;
  }
    
  &__button {
    padding: 10px;
    border-radius: 25px;
    margin-top: 30px;
    max-width: 150px;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
    background-color: lightcoral;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: lime;
    }
  }
}