.clock {
  font-family: "Share Tech Mono", monospace;
  color: #fff;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-shadow: 0 0 20px rgba(10, 175, 230, 1), 0 0 20px rgba(10, 175, 230, 0);

  &__time,
  &__name {
    letter-spacing: 0.05em;
    font-size: 80px;
    padding: 5px 0;
  }
}
