@font-face {
  font-family: 'Digital Numbers Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Digital Numbers Regular'),
    url('./fonts/DigitalNumbers-Regular.woff') format('woff');
  }
